.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.reset-form {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
}

.reset-form h2 {
  margin-bottom: 15px;
}

.reset-form .form-group {
  margin-bottom: 20px;
}

.reset-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 30px;
}

.reset-btn {
  background-color: #d63031;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
